.navbar-nav .nav-link {
    transition: 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    color: rgba(192, 223, 54, 0.551) !important;  /* Change text color on hover */
    transform: scale(1.1);  /* Slightly enlarge the text */
  }
  .navbar-brand{
color: rgb(192, 223, 54);
transition: 0.3s ease-in-out;
  }
 .carousel-item{
    transition: transform 1s ease-in-out;
 }
 /* product image */
 .product-img{
    /* height: 200px; */
    object-fit: cover;
 }
.card{
    height: 100%;
}

.card-text{
  color: rgb(192, 223, 54);
}

/* Make the header sticky */
header{
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
}
.card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */

  border: none;
}
.image-container {
overflow: hidden;
}

.product-img {
  transition: transform 0.3s ease-in-out,opacity 0.3s ease-in-out;
}

.product-img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
.media{
  margin: 60px;
  text-decoration: none;
  list-style: none;
}
.shinyy-card{
  transition: transform 0.3s ease,box-shadow 0.3s ease ;
  text-align: center;
  border-radius: 10px;
}
.shinyy-card:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px  rgba(0, 0, 0, 0.15);
}
.blog-card{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  
}
.blog-card:hover{
  transform: translateY(-7px);

}
.slideUp{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 16px;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.4s ease-in-out,opacity 0.4s ease-in-out ;

}
.blog-card:hover .slideUp ,.blog-card:active .slideUp{
transform: translateY(0px);
opacity: 1;

}
.read-more{
  color: aliceblue;
  text-decoration: none;
  display: inline-block;

}
.overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.681);
display: none;
  z-index: 9999;
 

}
.overlay.active{
  opacity: 1;
  visibility: visible;
}
#login-container{
  background-color: white;
 
}
/* Notification Styling */
.notification {
  position: fixed;
  top: 150px;
  right: -300px; 
  background: linear-gradient(135deg, rgb(192, 223, 54), rgb(192, 223, 54));
  background-color:white;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: right 0.5s ease-out, opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 9999; 
   pointer-events: none;
  display: flex;
  align-items: center;
  gap: 10px;
  
}


.notification::before {
  
  font-size: 16px;
}

.notification.show {
  right: 20px;
  opacity: 1;
}
