.navbar-nav .nav-link {
    transition: 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    color: rgba(192, 223, 54, 0.551) !important;  /* Change text color on hover */
    transform: scale(1.1);  /* Slightly enlarge the text */
  }
  .navbar-brand{
color: rgb(192, 223, 54);
transition: 0.3s ease-in-out;
  }
 .carousel-item{
    transition: transform 1s ease-in-out;
 }
 /* product image */
 .product-img{
    /* height: 200px; */
    object-fit: cover;
 }
.card{
    height: 100%;
}

.card-text{
  color: rgb(192, 223, 54);
}

/* Make the header sticky */
header{
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
}
.card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */

  border: none;
}
.image-container {
overflow: hidden;
}

.product-img {
  transition: transform 0.3s ease-in-out,opacity 0.3s ease-in-out;
}

.product-img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
.media{
  margin: 60px;
  text-decoration: none;
  list-style: none;
}

